<style>
    .bcso-bottom-bar-ent {
        position: fixed;
        bottom: 0;
        left: 280px; 
        right: 0;
        height: 50px;
        background-color: #07090e;
        border-top: 1px solid rgba(189, 165, 129, 0.2); 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        z-index: 20;
        color: #6b7280;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .brand-text-ent { color: #bda581; font-weight: bold; }
</style>

<div class="bcso-bottom-bar-ent">
    <div><i class="fas fa-handshake"></i> <span class="brand-text-ent">PORTAIL PARTENAIRE</span> - BCSO</div>
    <div>Accès : <span style="color: #10b981;">Autorisé</span> | Entreprise : <%= locals.entreprise ? locals.entreprise.nom : 'Non défini' %></div>
</div>