<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title || 'Dashboard' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Le contenu de la page s'injectera ici -->
    <main class="main-content">
        <%- body %>
    </main>

    <!-- Inclusion de la barre de navigation -->
    <%- include('../partials/header') %>
</body>
</html>