<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BCSO Archives</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="app">

    <% include ../partials/sidebar %>

    <div class="content">
        <% include ../partials/header %>

        <div class="page">
            <%- body %>
        </div>

    </div>

</div>

</body>
</html>