<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BCSO Archives</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="hero">
        <img src="/images/bcso.png" alt="Logo" class="logo">
        <h1>BCSO Archives</h1>
        <a href="/login" class="btn-gold">Connexion Discord</a>
    </main>
</body>
</html>