<div class="dashboard-hero">
    <div class="glass-panel">
        <img src="/images/bcso.png" alt="Ecusson BCSO" class="hero-logo">
        <h1 class="title-gold">BCSO Archives</h1>
        <p class="text-beige">Système sécurisé d'archivage des rapports d'intervention et des tickets.</p>
        
        <div class="action-group">
            <a href="/dashboard" class="btn-gold-glow">Accéder au Dashboard</a>
        </div>
    </div>
</div>