<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BCSO | Archives</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <img src="/images/bcso.png" alt="Logo BCSO" class="logo">
        <h1>BCSO Archives</h1>
        <!-- Pour l'instant on met '#' car on fait l'auth plus tard -->
        <a href="#" class="btn-login">Connexion Discord</a>
    </div>
</body>
</html>