<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BCSO Archives</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="center">

    <img src="/images/bcso.png" class="logo">

    <h1>BCSO ARCHIVES</h1>

    <p>Système sécurisé d’archivage des rapports RP</p>

    <a href="/dashboard" class="btn">Accéder au dashboard</a>

</div>

</body>
</html>