body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: white;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

p {
    color: #94a3b8;
}

.btn {
    margin-top: 20px;
    padding: 12px 18px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}

.btn:hover {
    background: #1d4ed8;
}